* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}

body{
 background-image: url(./assets/pexels-maxyne-barcel-10402282\ 1.png);
 background-size: cover;
 background-position: center;
 }
 .container{
  background: rgba(0, 0, 25, 0.6);
  height: 100vh;
  color: #E8BD0D;
 }
 .navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 20px;
  height: 20vh;
 }

 .navbar img{
  height: 70px;
}

.list-item{
  list-style-type: none;
  display: inline-block;
  padding: 10px 50px;
  font-size: 20px;
}

.button-small{
  font-size: 25px;
  background-color: #E6425E;
  color: #ffffff;
  border: 0;
  padding: 12px 45px;
  font-weight: 500;
}

.hero{
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.hero-heading{
  font-size: 100px;
  font-weight: 900;
  flex-wrap: wrap;
  width: 1000px;
  text-align: center;
  position: absolute;
  top: 180px;
}

.button-large{
  background-color: #E6425E;
  color: #ffffff;
  border: 0;
  padding: 20px 60px;
  font-size: 35px;
  font-weight: 500;
  position: relative;
  top: 170px;
}

.hero img{
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 50px;
  height: 150px;
}